{% extends "registration/base.html" %}

{% block content %}
  

<div class="form-container">
    <div class="form-header">
        <h3 class="title">Вход</h3>
    </div>
    {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="input-icon-container username">
      {{form.username}}
    </div>
    <div class="input-icon-container password">
      {{form.password}}
    </div>
    <div class="d-flex justify-content-center mt-3 submit-container">
      <input class="btn login_btn" type="submit" value="Войти">
    </div>
    <a href="{% url 'registration'%}" class="auth-url">Зарегистрироваться</a>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <!-- {% if form.errors %}
  <p>Неверный логин или пароль.</p>
{% endif %} -->
    {% for message in messages %}
      <p id="messages">{{ message }}</p>
    {% endfor %}
</div>

  {# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}