{% extends 'cal/base.html' %}
{% load static %}
{% block content %}
<div class="navigation-container">
	<a class="nav-arrow arrow-prev" href="{% url 'cal:calendar_3months' %}?{{ prev_month }}">  Предыдущий месяц </a>
	<a class="nav-arrow arrow-next" href="{% url 'cal:calendar_3months' %}?{{ next_month }}"> Следующий месяц </a>
</div>

{{ calendar }}
{% endblock %}

{% block script %}
<link rel="stylesheet" type="text/css" href="{% static 'cal/css/3-months/styles.css' %}">
<script src="{% static 'cal/js/overlay.js' %}"></script>
<script src="{% static 'cal/js/jquery.ddslick.min.js' %}"></script>
 <link rel="stylesheet" type="text/css" href="{% static 'cal/css/3-months/overlay.css' %}">
 <script src="{% static 'cal/js/front.js' %}"></script>

  {% endblock %}