header {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 0 30px;
  position: relative;
}
header svg {
  cursor: pointer;
}
header svg.active path {
  fill: #37B28D;
}
header .views-container {
  display: flex;
  align-items: center;
}
header #config svg {
  position: relative;
  z-index: 500;
}
header #config .config-modal-form {
  min-width: 320px;
  height: 0px;
  overflow: hidden;
  transition-duration: 0.8s;
  -webkit-transition-duration: 0.8s;
  position: absolute;
  z-index: 400;
  right: 20px;
  top: 20px;
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(17, 59, 68, 0.2);
  border-radius: 10px;
}
header #config .config-modal-form .config-title {
  color: #979797;
}
header #config .config-modal-form form.profile_form {
  display: flex;
  flex-direction: column;
}
header #config .config-modal-form form.profile_form button[type=submit] {
  cursor: pointer;
  background: linear-gradient(180deg, #069685 0%, #069685 100%);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
}
header #config svg.active ~ .config-modal-form {
  padding: 20px;
}