.calendar {
  width: 100%;
  margin: auto;
  font-size: 13px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.weekdays-container {
  margin-right: 55px;
  margin-top: 20px;
}

.weekday-empty {
  height: 41px;
}

.weekday-names-container {
  height: calc(100% - 41px);
}

.weekday-name {
  height: calc(100%/8);
  width: 30px;
  font-size: 13px;
}

.day-container {
  height: 30px;
  width: calc(100vw/19.5);
}

.week-num {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #37b28d;
  font-size: 14px;
  color: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.1);
  height: 30px;
  width: calc(100vw/19.5);
}

.day-container ul {
  padding: 0;
  position: absolute;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  overflow: hidden;
}

.day-container ul li.event {
  width: 50%;
  height: 50%;
  border-radius: 6px;
  font-size: 10px;
  line-height: 8.5px;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 3px;
  word-break: break-all;
}

.calendar th {
  height: 50px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.day-name {
  font-size: 13px;
  color: #37B28D;
}

.month {
  font-size: 16px;
  color: #4f4f4f;
}
.month .year {
  font-weight: normal;
}

.date {
  font-size: 14px;
}

.noday {
  color: #c2c2c2;
}

a {
  color: #17a2b8;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color: black;
  background-color: transparent;
  box-shadow: 0 0 0 0;
}

.clearfix {
  margin: 15px;
}

.form {
  margin: auto;
}

.form input, .form select, .form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
}

/*modal inputs styles*/
.event-title {
  border: none;
}

.title-icon-container {
  display: flex;
}

.event-input {
  border: none;
  border-bottom: 1px solid #E0E0E0;
  border-radius: 0;
  -webkit-appearence: none;
}

.event-input:focus {
  border-bottom-color: #80bdff;
  box-shadow: none;
}

/*Colors radio picker*/